@import "tailwindcss";

@font-face {
    font-family: "Kaff";
    src: url("../fonts/alfont_com_29LT-Kaff-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Kaff", sans-serif;
}